.Rproj.user
.Rhistory
.Rapp.history
.RData
.DS_Store
vignettes/PrecisionTrialDesigner.html
vignettes/PrecisionTrialDesigner-concordance.tex
vignettes/PrecisionTrialDesigner.log
vignettes/PrecisionTrialDesigner.pdf
vignettes/PrecisionTrialDesigner.synctex.gz
vignettes/PrecisionTrialDesigner.tex
vignettes/PrecisionTrialDesigner.toc
vignettes/cache/*
vignettes/figure/*
vignettes/framed.sty
PrecisionTrialDesigner.Rcheck/*
PrecisionTrialDesigner_0.99.0.tar.gz
PrecisionTrialDesigner.Rproj
vignettes/panel.bed
