.Rproj.user
.Rhistory
.Rapp.history
.RData
.DS_Store
vignettes/PrecisionTrialDrawer.html
vignettes/PrecisionTrialDrawer-concordance.tex
vignettes/PrecisionTrialDrawer.log
vignettes/PrecisionTrialDrawer.pdf
vignettes/PrecisionTrialDrawer.synctex.gz
vignettes/PrecisionTrialDrawer.tex
vignettes/PrecisionTrialDrawer.toc
vignettes/cache/*
vignettes/figure/*
vignettes/framed.sty
PrecisionTrialDrawer.Rcheck/*
PrecisionTrialDrawer_0.99.0.tar.gz
PrecisionTrialDrawer.Rproj
vignettes/panel.bed
