import(
    methods,
    parallel,
    BiocParallel,
    magrittr,
    ggplot2,
    LowMACAAnnotation,
    ggrepel,
    googleVis,
    DT,
    shinyBS
)
importFrom(grDevices, colorRampPalette, topo.colors)
importFrom(graphics, barplot, legend, par, plot, rect,
             segments, text)
importFrom(stats, aggregate, as.formula, dist, hclust,
             phyper, pnorm, qnorm, qt , setNames , sd 
           , AIC , density , lm , median , binomial
           , p.adjust , pgamma , qgamma , pbinom , qbinom , fisher.test)
importFrom(graphics , axis , layout , lines , plot.new , plot.window)
importFrom(utils, adist, combn, head, modifyList, str, capture.output)
importFrom(brglm , brglm, summary.brglm)
importFrom(cgdsr , CGDS
                , getCancerStudies
                , getGeneticProfiles
                , getCaseLists
                , getProfileData
                , getMutationData)
importFrom(reshape2 , melt , acast , dcast)
importFrom(GenomicRanges , GRanges 
                        , findOverlaps 
                        , makeGRangesFromDataFrame)
#importFrom(AnnotationHub , AnnotationHub , query)
#importFrom(rtracklayer , liftOver)
importFrom(RColorBrewer , brewer.pal)
importFrom(biomaRt , getBM , useMart)
importFrom(IRanges , reduce , IRanges)
importFrom(XML , xmlParse , xmlToList)
importFrom(httr , GET)
importFrom(shiny , runApp
                , fluidPage
                , numericInput
                , sidebarLayout
                , sidebarPanel
                , selectInput
                , sliderInput
                , radioButtons
                , actionButton
                , mainPanel
                , tabsetPanel
                , plotOutput
                , verbatimTextOutput
                , hr
                , fluidRow
                , tableOutput
                , column
                , tabPanel
                , helpText
                , eventReactive
                , observe
                , reactive
                , renderPlot
                , reactiveValues
                , renderTable
                , renderText
                , observeEvent
                , stopApp
                , isolate
                , tagList
                , singleton
                , tags
                , div
                , p
                , img
                , nearPoints)
importFrom(jsonlite , stream_in)
importFrom(grid , grid.newpage 
                , pushViewport 
                , viewport 
                , grid.layout)
importFrom(S4Vectors, rename , Rle , subjectHits)
importFrom(stringr, str_extract)
importFrom(data.table, rbindlist)
# importFrom(plyr, mapvalues)
exportPattern("^[[:alpha:]]+")
exportMethods(
    "show",
    "getAlterations",
    "subsetAlterations",
    "panelDesigner",
    "cpArguments",
    "cpData",
    "cpDataSubset",
    "coveragePlot",
    "coverageStackPlot",
    "saturationPlot",
    "coocMutexPlot",
    "survPowerSampleSize",
    "survPowerSampleSize1Arm",
    "cpFreq",
    "panelOptimizer",
    "appendRepo",
    "dataExtractor",
    "propPowerSampleSize",
    "filterMutations",
    "filterFusions"
)
export(
    "showTumorType",
    "showCancerStudy"
)
exportClasses(
    "CancerPanel" 
)